body, html
{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100px;
    padding: 0px;
    margin: 0px;

}

.logo
{
    height: 40px;
}
*{
    box-sizing: border-box;
}
header
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    height: 60%;
    width: 100%;
    box-shadow: 3px 3px 8px 0 rgb(0,0,0,10%);
    padding: 0;



}

ul>li
{
    margin: 0;
    list-style: none;
    font-size: 20px  ;
    margin-right:  10px;
    
}

ul{
    display: flex;
}
a,span
{
    display: inline-block;
    text-decoration: none;
    color: #000;
}

.left-header
{
    display: flex;
    align-items: center;
}
.right-header , ul
{
    display: flex;
    align-items: center;
}
.signup-button , .start-btn
{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: #c9c7c7;
    padding:20px ;
    height: 35px;
    
    }
.start-btn{
    background-color: #f57de9;
    color: white;
}
.main{
    height: calc(100% - 60% - 30%);
}
.banner
{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.left-section
{
    width: 50%;
    padding: 3px 100px ;
}
.banner-heading{
    font-size: 55px;
    line-height: 50px;
    font-weight: 500;
    margin: 0;
}
.left-section>p{
    margin: 30px 0;

}
.right-section
{
    width: 60%;
}
.right-section img{
    height: 600px;
}
.banner-btn-box span
{
    margin-right: 20px;
}
.footer
{
    display: flex;
    height: 30% ;
    align-items: center;
    justify-content: space-between

}

.footer a{
    margin-right: 20px;
}

.faa-link:hover{
    color: #6fb3f7;
}
.banner-btn-box
{
    display: flex;
    align-items:center;
}